<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @client.user %>
</p>

<p>
  <strong>Passw:</strong>
  <%= @client.passw %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @client.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @client.apellido %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @client.birthday %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @client.direccion %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
