<p id="notice"><%= notice %></p>

<p>
  <strong>Idcart:</strong>
  <%= @cart.idcart %>
</p>

<p>
  <strong>Numitem:</strong>
  <%= @cart.numitem %>
</p>

<p>
  <strong>Total:</strong>
  <%= @cart.total %>
</p>

<p>
  <strong>Purchased:</strong>
  <%= @cart.purchased %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
