<p id="notice"><%= notice %></p>

<h1>Tu Carrito de compra</h1>
<ul>
	<% for item in @cart.items %>
		<div id='items'>
			<div class='panel panel-info'>
				<div class='panel-heading'>
					<h2><%= item.nombreitem %></h2>
				</div>
				<div class='panel-body'>
				<h3>Codigo: <%= item.code  %></h3>
				<h2><%= item.descripcion  %></h1>
				<h2>Color: <%= item.color  %></h1>
				<h2>Precio: $<%= item.valor  %></h1>
				</div>
				
			</div>
			
		</div>
	<% end %>
</ul>


<div class='btn-group'>
		<%= link_to 'Añadir Items', items_path, class:'btn btn-default' %>
</div>

