<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
		<div class="input-container">
		  <div class="input-group">
			<span class="input-group-addon">Código:</span>
			<%= f.text_field :code ,class:"form-control valid" %>
		  </div>
		  <br>
		  <div class="input-group">
			<span class="input-group-addon">Nombre de dispositivo:</span>
			<%= f.text_field :nombreitem ,class:"form-control valid" %>
		  </div>
		  <br>
		  <div class="input-group">
			<span class="input-group-addon">Descripcion:</span>
			<%= f.text_field :descripcion ,class:"form-control valid" %>
		  </div>
		  <br>
		  <div class="input-group">
			<span class="input-group-addon">Color:</span>
			<%= f.text_field :color ,class:"form-control valid" %>
		  </div>
		  <br>
		  <div class="input-group">
			<span class="input-group-addon">Valor:</span>
			<%= f.text_field :valor ,class:"form-control valid" %>
			<span class="input-group-addon">$</span>
		  </div>
		  <br>
		  
			<%= f.submit %>
		</div>
	  
  
<% end %>
